.container
  .row
    .panel
      .panel-body
        = link_to new_lead_path, :class => 'btn btn-primary' do
          %span.glyphicon.glyphicon-plus
          New Lead
        %h3 Leads

        %table.table.table-striped#special
          %thead
            %tr
              %th Project
              %th Needs
              %th Source
              %th Contact
              %th Assigned
              %th Temperature
              %th Value
              %th

          %tbody
            - @leads.each do |lead|
              %tr
                %td= best_in_place lead, :project
                %td= best_in_place lead, :needs, :as => :textarea
                %td= best_in_place lead, :source
                %td= best_in_place lead, :contact
                %td= best_in_place lead, :assigned
                %td= best_in_place lead, :temperature
                %td= best_in_place lead, :value
                %td= link_to 'Destroy', lead, :data => { confirm: 'Are you sure?' }, :method => :delete
