= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, :class=> 'form-control'
  .form-group
    = f.label :organization
    = f.text_field :organization, :class=> 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, :class=> 'form-control'
  .form-group
    = f.label :phone_number
    = f.text_field :phone_number, :class=> 'form-control'
  .form-group
    = f.label :assigned
    = f.text_field :assigned, :class=> 'form-control'
  .form-group
    = f.label :source
    = f.text_field :source, :class=> 'form-control'
  .actions
    = f.submit 'Save'
