.container
  .row
    .panel
      .panel-body
        %h1 Listing contacts

        %table.table.table-striped
          %thead
            %tr
              %th Name
              %th Organization
              %th Email
              %th Phone number
              %th Assigned
              %th Source
              %th Converted?
              %th
              %th
              %th

          %tbody
            - @contacts.each do |contact|
              %tr
                %td= best_in_place contact, :name
                %td= best_in_place contact, :organization
                %td= best_in_place contact, :email
                %td= best_in_place contact, :phone_number
                %td= best_in_place contact, :assigned
                %td= best_in_place contact, :source
                %td= best_in_place contact, :converted, :type => :input
                %td= link_to 'Show', contact
                %td= link_to 'Edit', edit_contact_path(contact)
                %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

        %br

        = link_to 'New Contact', new_contact_path

        = link_to 'Leads', leads_path
