.container
  .row
    %h1 Contacts
    .panel
      .panel-body
        = link_to new_contact_path, :class => 'btn btn-primary' do
          %span.glyphicon.glyphicon-plus

        = link_to "Leads", leads_path

        %table.table.table-striped#contacts
          %thead
            %tr
              %th Name
              %th Organization
              %th Email
              %th Phone number
              %th Assigned
              %th Source
              %th Converted?
              %th

          %tbody
            - @contacts.each do |contact|
              %tr
                %td= best_in_place contact, :name
                %td= best_in_place contact, :organization
                %td= best_in_place contact, :email
                %td= best_in_place contact, :phone_number
                %td= best_in_place contact, :assigned
                %td= best_in_place contact, :source
                %td= best_in_place contact, :converted, :type => :input
                %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }
