%p#notice= notice

%p
  %b Name:
  = @contact.name
%p
  %b Temperature:
  = @contact.temperature
%p
  %b Email:
  = @contact.email
%p
  %b Phone number:
  = @contact.phone_number
%p
  %b Assigned:
  = @contact.assigned
%p
  %b Source:
  = @contact.source

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
