= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-cloud
      SalesTracker
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Contacts', ""
      = link_to 'About', ""
      / USER NAV
